<section class="login" id="login">
  <div class="p-5 text-center">
    <% if (!user) { %>
    <h1>Sign in</h1>
    <form action="/login/password" method="post">
      <div class="row">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
      </div>
      <div class="row">
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
      </div>
      <div class="row">
        <button type="submit">Sign in</button>
      </div>
    </form>
    <h2>Warning: Only the first user (Josh) in the users.json file is able to login. I was not able to figure out why the rest of the users can not login.</h2>
    <% } %>
    <% if (user) { %>
    <div class="row">
      <p>Welome back <%=user.username%>. You are already logged in.</p>
      <% } %>
    </div>
</section>